  <div class="banner">
    <h1>
      List of Movies:
    </h1>
    <div class="links" align="right">
      <b><a href="/actors">Back to List Actors</a></b>
      <b><a href="/movies">Back to the Movies</a></b>
    </div>
  </div>

  <table>
    <tr>
      <th align="left">Title</th>
      <th align="left">Year</th>
      <th align="left">Rating</th>
      <th align="left">Genre</th>
      <th align="left">Studio</th>
    </tr>

    <% @movies.each do |movie| %>

    <tr>
      <td><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></td>
      <td><%= movie["year"] %></td>
      <td><%= movie["rating"] %></td>
      <td><%= movie["genre"] %></td>
      <td><%= movie["studio"] %></td>
    </tr>

    <% end %>
  </table>

  <div class="bottom_page_links">
    <div class="links">
      <b><a href="/actors">Back to List Actors and Actresses</a></b>
    </div>
    <div class="links">
      <b><a href="/movies">Back to the Movies</a></b>
    </div>
  </div>
